@model IEnumerable<ECommerceMVC.ViewModels.CartItemVM>
@{
    ViewData["Title"] = "Checkout";
}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Thanh toán</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Giỏ hàng</a></li>
        <li class="breadcrumb-item active text-white">Thanh toán</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Chi tiết hoá đơn</h1>
        <form asp-action="Checkout" asp-controller="Cart">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div class="form-check my-3">
                        <input type="checkbox" class="form-check-input" id="GiongKhachHang" name="GiongKhachHang" value="false">
                        <label class="form-check-label" for="Account-1">Giống thông tin khách hàng?</label>
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Người nhận hàng<sup>*</sup></label>
                        <input type="text" name="HoTen" class="form-control">
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Địa chỉ nhận hàng <sup>*</sup></label>
                        <input type="text" name="DiaChi" class="form-control" placeholder="số nhà 15, đường tổ 21, tân lập, Bình Dương">
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Điện thoại<sup>*</sup></label>
                        <input type="text" name="DienThoai" class="form-control">
                    </div>

                    <hr>
                    <div class="form-item">
                        <textarea name="GhiChu" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Ghi chú"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Hình</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="@item.TenHH">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.TenHH</td>
                                        <td class="py-5">@item.DonGia</td>
                                        <td class="py-5">@item.SoLuong</td>
                                        <td class="py-5">@item.ThanhTien</td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Tổng</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">@Model.Sum(p => p.ThanhTien).ToString("#,##0.00")</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                                <label class="form-check-label" for="Delivery-1">Thanh toán khi nhận hàng</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal" name="Paypal" value="Paypal">
                                <label class="form-check-label" for="Paypal-1">Paypal</label>
                            </div>
                        </div>
                        <div id="paypal-button-container" class="form-item mt-3 d-none" style="max-width:1000px;"></div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Hoàn Tất đặt hàng</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
@section Scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaymentClientId"></script>
    <script>
        $(document).ready(function () {
            $("#GiongKhachHang").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $(".delivery-info").addClass("d-none")
                } else {
                    $(this).val(false);
                    $(".delivery-info").removeClass("d-none")
                }
            })
            $("#Paypal").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $("#paypal-button-container").removeClass("d-none")
                } else {
                    $(this).val(false);
                    $("#paypal-button-container").addClass("d-none")
                }
            })
        })


        paypal.Buttons({
            style: {
                borderRadius: 10,
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder() {
                return fetch("/Cart/create-paypal-order", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    }
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then((err) => {
                            throw error;
                        })
                    }
                    return response.json();
                }).then((order) => order.id)
                    .catch(err => {
                        alert(err.message);
                    })
            },
            onApprove(data) {
                // Capture the funds from the transaction.
                return fetch(`/Cart/capture-paypal-order?orderId=${data.orderID}`, {
                    method: "POST",
                    body: JSON.stringify({
                        orderID: data.orderID
                    })
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then((err) => {
                            throw error;
                        })
                    }
                    //Đổi địa chỉ tới action thông báo thành công
                    window.location.href = "/Cart/PaymentSuccess";
                })
                    .catch(err => {
                        alert(err.message);
                    })

            }
        }).render('#paypal-button-container');

    </script>
}